<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body style="margin: 0;padding: 0;">
    <div style="background: #F8F8F8;max-width: 600px;margin: 0 auto;padding: 15px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" valign="top" style="padding: 36px 24px;">
                                <a href="APPURL" target="_blank" style="display: inline-block; text-align: center;">
                                    <img src="APPLOGOURL" alt="APPNAME" border="0" style="display: block; height: auto; width: 100%; max-width: 300px; min-width: 48px;"/>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding: 24px;border:1px solid #EDEDED;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="left" style="font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px;">
                                <p style="margin: 0;"><b>Thank you for registering with APPNAME.</b></p>

                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding: 24px 0 0;font-family: 'Roboto',  sans-serif; font-size: 16px; line-height: 24px;">
                                <p style="margin: 0;color:#58595A;">
                                    Please click on the button below to verify your email address and claim
                                    your free 2 Certificates.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding: 24px 0 0;font-family: 'Roboto',  sans-serif; font-size: 16px; line-height: 24px;">
                                <a style="margin: 0;color:#fff;background: #24984E;text-decoration: none;padding: 14px 24px;display: table;margin: auto;" href="VERIFYLINK">Verify Your Email</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding: 24px 0 0;font-family: 'Roboto',  sans-serif; font-size: 16px; line-height: 24px;">
                                <hr style="border:1px solid #EDEDED;">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding: 24px 0 0; font-family: 'Roboto',  sans-serif; font-size: 16px; line-height: 24px;">
                                <p style="color: #58595A;margin: 0;">Regards,<br>APPNAME Team</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" valign="top" style="color: #666666;padding: 24px 0px; font-family: 'Roboto',  sans-serif; font-size: 16px; line-height: 20px;" >
                                <p style="margin: 0; font-size: 16px; font-weight: bold;">Ready to try out APPNAME?</p>
                                <p style="margin: 0; font-size: 16px;">Start your <a href="APPURL#pricing" target="_blank" style="color:#24984E !important;text-decoration: none !important;">free trial</a> today.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>    
        </div>
</body>
</html>