@{
    Layout = null;
}
    <link rel="stylesheet" href="~/css/404.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<section class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="~/images/error-img.png" class="img-fluid" alt="VeriDoc Certificates" title="VeriDoc Certificates">
                <h1>404</h1>
                <p>Page Not Found</p>
                <a href="~/" class="custom-btn">Go to Home Page</a>
            </div>
        </div>
    </div>
</section>
